<img src="#" width=80 height=80>User {{id}}

<br>

<div class="row-fluid">
  <div class="span6">

  </div>

  <div class="span6">
    <h3>Info</h3>
    <br>
    <table class="info-table table">
      <tr>
        <th>first_name</th>
        <td>{{first_name}}</td>
      </tr>
      <tr>
        <th>last_name</th>
        <td>{{last_name}}</td>
      </tr>
    </table>
  </div>
</div>
